{% extends "layout.html" %}
{% block content %}
<div class="container h-100">
    <div class="row justify-content-end align-items-center">
      <div class="card-transparent" style="width: 45rem; margin-top: 10px; ">
        <div class="card-body ">

          <h1 class="display-3 text-muted">Oops!! <br>Sorry, Product Not Found</h1>
<!--          <h1 class="lead text-muted"> Beta Version</h1><br>-->
          <p class="lead"> Please check <a href="products">"Products"</a> to see what product reviews are currently available.<br>
          To use the search engine, please input the brand before the product name as shown on the <a href="products">"Products"</a> page.<br>
            <br>Thank you.</p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}