{% extends "layout.html" %}
{% block content %}
<div class="container h-100 justify-content-center align-items-center">
  <div class="row justify-content-center align-items-center" style="margin-top: 5px;">
    <h2 class="display-4" style="color:#3d0c02">PRODUCTS</h2>
    <p class="lead" style="color:#3d0c02">List of the product reviews currently accessible here </p>
    <div class="row">
      <div class="col-sm-3">
        <a href="#" class="nav-tabs-dropdown btn btn-block btn-default">Brands</a>
        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
          <li><a href="#vtab1" data-toggle="tab" style="color:#3d0c02">SK-II</a></li>
          <li><a href="#vtab2" data-toggle="tab" style="color:#3d0c02">INNISFREE</a></li>
          <li><a href="#vtab3" data-toggle="tab" style="color:#3d0c02">LANCOME</a></li>
          <li><a href="#vtab4" data-toggle="tab" style="color:#3d0c02">ESTEE LAUDER</a></li>
          <li><a href="#vtab5" data-toggle="tab" style="color:#3d0c02">FENTY</a></li>
          <li><a href="#vtab6" data-toggle="tab" style="color:#3d0c02">KIEHL'S</a></li>
          <li><a href="#vtab7" data-toggle="tab" style="color:#3d0c02">ELF</a></li>
          <li><a href="#vtab8" data-toggle="tab" style="color:#3d0c02">LANEIGE</a></li>
          <li><a href="#vtab9" data-toggle="tab" style="color:#3d0c02">FRESH</a></li>
        </ul>
      </div>
      <div class="col-sm-9">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="vtab1">
            <h3>SK-II</h3>
            <ul>
              <li>skii facial treatment mask</li>
              <li>skii facial treatment gentle cleanser</li>
              <li>skii genoptics spot essence serum</li>
              <li>skii facial treatment cleansing oil</li>
              <li>skii r.n.a. power radical new age eye cream</li>
              <li>skii r.n.a. radical new age power cream</li>
              <li>skii facial treatment clear lotion</li>
              <li>skii r.n.a. power radical new age essence</li>
              <li>skii facial treatment essence</li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="vtab2">
            <h3>INNISFREE</h3>
            <ul>
              <li>innisfree cica balm with bija seed oil</li>
              <li>innisfree minimum for sensitive skin cleansing milk</li>
              <li>innisfree my lip balm,innisfree vivid cotton ink</li>
              <li>innisfree dewy glow jelly cream</li>
              <li>innisfree my palette my eyeshadow</li>
              <li>innisfree matte full cover cushion</li>
              <li>innisfree pore clearing clay mousse mask</li>
              <li>innisfree balancing toner with green tea</li>
              <li>innisfree real fit velvet lipstick</li>
              <li>innisfree brightening & pore-caring sleeping mask</li>
              <li>innisfree blemish care serum with bija seed oil</li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="vtab3">
            <h3>LANCOME</h3>
            <ul>
              <li>lancome l'absolu rouge lipstick</li>
              <li>lancome la vie est belle eau de parfum</li>
              <li>lancome bi-facil makeup remover</li>
              <li>lancome teint idole ultra wear foundation</li>
              <li>lancome advanced génifique youth activating serum</li>
              <li>lancome rénergie lift multi-action cream spf 15</li>
              <li>lancome monsieur big volumizing mascara</li>
              <li>lancome cils booster xl mascara primer</li>
              <li>lancome tonique confort hydrating facial toner</li>
              <li>lancome absolue regenerating soft cream</li></li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="vtab4">
            <h3>ESTEE LAUDER</h3>
            <ul>
              <li>estee lauder perfectionist [cp+r] wrinkle lifting firming serum</li>
              <li>estee lauder advanced night repair serum</li>
              <li>estee lauder revitalizing supreme global anti-aging cell power creme</li>
              <li>estee lauder day wear matte gel creme</li>
              <li>estee lauder perfectly clean multi-action toning lotion refiner</li>
              <li>estee lauder soft clean moisture rich foaming cleanser</li>
              <li>estee lauder perfectly clean multi-action foam cleanser purifying mask</li>
              <li>estee lauder idealist pore minimizing skin refinisher</li>
              <li>estee lauder hydrationist maximum moisture creme</li>
              <li>estee lauder daywear sheer tint release moisturizer</li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="vtab5">
            <h3>FENTY</h3>
            <ul>
              <li>fenty beauty match stix</li>
              <li>fenty beauty pro filt’r soft matte longwear foundation</li>
              <li>fenty beauty stunna lip paint</li>
              <li>fenty beauty sun stalk'r instant warmth bronzer</li>
              <li>'fenty beauty body lava</li>
              <li>fenty beauty full frontal mascara</li>
              <li>fenty beauty brow mvp ultra fine brow pencil & styler</li>
              <li>fenty beauty gloss bomb universal lip luminizer</li>
              <li>fenty beauty killawatt highlighter</li>
              <li>fenty beauty portable touchup brush 130</li>
              <li>fenty beauty flyliner longwear liquid eyeliner</li>
              <li>fenty beauty cheeks out freestyle cream blush</li>
              <li>fenty beauty mattemoiselle plush matte lipstick</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="vtab6">
            <h3>KIEHLS</h3>
            <ul>
              <li>kiehls hydro-plumping re-texturizing serum concentrate</li>
              <li>kiehls creamy eye treatment with avocado</li>
              <li>kiehls powerful-strength line-reducing concentrate</li>
              <li>kiehls calendula serum-infused water cream</li>
              <li>kiehls midnight recovery concentrate</li>
              <li>kiehls clearly corrective™ dark spot solution</li>
              <li>kiehls vital skin-strengthening super serum</li>
              <li>kiehls ultra facial cream</li>
              <li>kiehls creme de corp</li>
              <li>kiehls ultra facial cream spf 30</li>
              <li>kiehls ultimate strength hand salve</li>
              <li>kiehls rare earth deep pore cleansing mask</li>
              <li>kiehls super multi-corrective cream</li>
              <li>kiehls facial fuel energizing moisture treatment for men</li>
              <li>kiehls ultra facial cleanser</li>
              <li>kiehls super fluid daily uv defense spf 50+</li>
              <li>kiehls calendula herbal-extract toner</li>
              <li>kiehls calendula deep cleansing foaming face wash</li>
              <li>kiehls ultra facial toner</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="vtab7">
            <h3>ELF</h3>
            <ul>
              <li>elf poreless putty primer</li>
              <li>elf jelly pop face and eye glo</li>
              <li>elf gentle peeling exfoliant</li>
              <li>elf tinted lip oil</li>
              <li>elf wow brow gel</li>
              <li>elf clarifying booster drop</li>
              <li>elf 50 mg cbd moisturizer</li>
              <li>elf contour palette</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="vtab8">
            <h3>LANEIGE</h3>
            <ul>
              <li>laneige water sleeping mask</li>
              <li>laneige multi deep-clean cleanser</li>
              <li>laneige essential power skin refiner moisture</li>
              <li>laneige lip sleeping mask</li>
              <li>laneige water bank moisture cream</li>
              <li>laneige time freeze firming sleeping mask</li>
              <li>laneige perfect renew emulsion</li>
              <li>laneige moisture balancing emulsion</li>
              <li>laneige perfect renew cream</li>
              <li>laneige water bank hydro cream ex</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="vtab9">
            <h3>FRESH</h3>
            <ul>
              <li>fresh seaberry moisturizing face oil</li>
              <li>fresh rose deep hydration face cream</li>
              <li>fresh black tea firming overnight mask</li>
              <li>fresh soy face cleanser</li>
              <li>fresh lotus youth preserve dream face cream</li>
              <li>fresh sugar lemon bath & shower gel</li>
              <li>fresh rose deep hydration facial toner</li>
              <li>fresh black tea age-delay cream</li>
              <li>fresh black tea age-delay eye concentrate</li>
            </ul>
          </div>

<!--          <div role="tabpanel" class="tab-pane fade" id="vtab10">-->
<!--            <h3>LA ROCHE POSAY</h3>-->
    <!--        <ul>-->
    <!--          <li>la roche posay redermic [r] anti-wrinkle retinol treatment</li>-->
    <!--          <li>la roche posay serozin</li>-->
    <!--          <li>la roche posay respectissime waterproof eye makeup remover</li>-->
    <!--          <li>la roche posay cicaplast baume b5 soothing repairing balm</li>-->
    <!--          <li>la roche posay effaclar duo+</li>-->
    <!--          <li>la roche posay anthelios ultra light fluid spf50</li>-->
    <!--          <li>la roche posay thermal spring water</li>-->
    <!--          <li>la roche posay hyalu b5 hyaluronic acid serum</li>-->
    <!--          <li>la roche posay effaclar purifying cleansing gel</li>-->
    <!--          <li>la roche posay effaclar micellar water</li>-->
    <!--        </ul>-->
<!--        </div>-->


        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}